@mixin defineColorHSL($color, $hue, $saturation, $lightness){
    #{$color}: unquote("hsl(#{$hue}, #{$saturation}, #{$lightness})");#{$color}-h: #{$hue};#{$color}-s: #{$saturation};#{$color}-l: #{$lightness};
}
/* color Scheme */
:root {
    --separator-color-light: #313131;
    --separator-color: #424242;
    --background-color: #1b191b;
    --background-color-2: #2f3136;
    --foreground-color: #232223;
    --foreground-color-2: #2b2b2b;
    --input-background: #232223;

    --dark-btn-background: #8d8d8d;
    --light-btn-background: #e4e4e4;
    --button-text-color: #d0d0d0;
    --button-text-important: #d0d0d0;
    --button-text-unimportant: #5a5a5a;

    --theme-color-1: #8f2938;
    --theme-color-2: #aa5e6c;
    --theme-color-3: #a53949;
    --theme-color-4: #843a47;
    --theme-color-5: #9e777e;
    --theme-color-6: #c07a6c;

    --primary-color: #969696;
    --secondary-color: #757575;
    --muted-color: #5a5a5a;

    --gradient-color-1 : #612c34;
    --gradient-color-2 : #421e24;
    --gradient-color-3 : #662b34;

    --lp-bg-color-1 : #320209;
    --lp-bg-color-2 : #35030b;
    --lp-bg-color-3 : #620917;
    --lp-bg-color-4 : #700c1b;
}
.dark {
    --separator-color-light: #373a43;
    --separator-color: rgba(228, 228, 228, 0.1);
    --background-color: #1f222a;
    --foreground-color: #242731;
    --input-background: #242731;

    --dark-btn-background: #8d8d8d;
    --light-btn-background: #e4e4e4;
    --button-text-color: #7c7d83;
    --button-text-important: #ffffff;
    --button-text-unimportant: #7c7d83;

    --theme-color-1: #6c5dd3;
    --theme-color-2: #c4bdf1;
    --theme-color-3: #c4bdf1;
    --theme-color-4: #6155bb;
    --theme-color-5: #8dbdcc;
    --theme-color-6: #3360a5;

    --primary-color: hsl(0, 0%, 59%);
    --secondary-color: #757575;
    --muted-color: #5a5a5a;

    --button-color-1: #5f75ee;
    --button-background-1: #1f2128;

    --gradient-color-1 : #612c34;
    --gradient-color-2 : #421e24;
    --gradient-color-3 : #662b34;

    --lp-bg-color-1 : #320209;
    --lp-bg-color-2 : #35030b;
    --lp-bg-color-3 : #620917;
    --lp-bg-color-4 : #700c1b;
}

$logoPath: "../img/logo-white.svg";
$logoPathMobile: "../img/logo-mobile.svg";

$lpLogoPath: "../img/logo-white.svg";
$lpLogoPathPinned: "../img/logo-white.svg";