<div class="mt-4">

    <div class="row">
        <div class="container">
            {{#each course.image}}

            <img class="rounded mx-auto d-block" src="{{this.url}}" alt="img" width="100%" height="auto" style="background-size: cover;">
                       
            {{/each}}
        </div>
    </div>

</div>