<div class="mt-4">
    <h3> Đăng ảnh </h3>

    <form action="/manga/multiple-upload" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="title"> Tên khóa học</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>

         <div class="form-group">
            <label for="chapter"> Chapter</label>
            <select class="custom-select" id="chapter" name="chapter">
                <option selected>Choose...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-group">
            <label for="example-input-file"> </label>
            <input type="file" name="many-files" multiple id="input-many-files" class="form-control-file border">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    <div class="row">
        <div class="col-sm-12">
            <div class="preview-images " ></div>
        </div>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $(document).ready(function () {


            let imagesPreview = function (input, placeToInsertImagePreview) {
                if (input.files) {
                    let filesAmount = input.files.length;
                    for (i = 0; i < filesAmount; i++) {
                        let reader = new FileReader();
                        reader.onload = function (event) {
                            $($.parseHTML("<img>"))
                                .addClass("rounded mx-auto d-block")
                                .css({ "width":"100%", "height":"auto", "background-size":"cover" })
                                .attr("src", event.target.result)
                                .appendTo(placeToInsertImagePreview);
                        };
                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };
            $("#input-many-files").on("change", function () {
                imagesPreview(this, "div.preview-images");
            });

        });
    });
</script>