{{#if errors}}
    {{#each errors}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
{{/if}}

<div class="row">
    {{#if error}}
        <div class="alert alert-danger" role="alert" style="width: 98%;">
            {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {{/if}}

    {{#if error_message}}
        <div class="alert alert-danger" role="alert" style="width: 98%;">
            {{error_message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {{/if}}

    {{#if success_message}}
        <div class="alert alert-success" role="alert" style="width: 98%;">
            {{success_message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {{/if}}
</div>