<!DOCTYPE html>
<html lang="vi">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <title>Document</title>
    {{!-- FontAweSome cdn --}}
    {{!-- <link rel="stylesheet" href="font/fontawesome-pro-5.0.13/css/all.css"> --}}
    {{!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> --}}
    {{!-- Bootstrap cdn --}}
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
    
    <link rel="preconnect" href="https://cloudimagewall.xyz">
    {{!-- font --}}
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700" as="font">
    {{!-- Font Icon CSS --}}
    <link rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css" />

    {{!-- bootstrap CSS --}}
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
    {{!-- JS cdn CSS --}}
    <link rel="stylesheet" href="/css/vendor/glide.core.min.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="/css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/css/vendor/component-custom-switch.min.css" />
    <link rel="stylesheet" href="/css/vendor/dropzone.min.css" />

    
    {{!-- CSS Bundle --}}
    {{!-- <link rel="stylesheet" href="/dist/css/Vendorbundle.css">  --}}
    {{!-- nên gộp cả 2 file css bên dưới --}}
    {{!-- CSS --}}
    {{!-- <link rel="stylesheet" href="/css/app.css">  --}}
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/dore.light.purple.2.css" />
    {{!-- <link rel="stylesheet" href="/css/dore.dark.blue.min.css" /> --}}
    
</head>

<body>
    <div class="app">

        {{> adminHeader}} 

        
            {{{body}}}
       

        {{> adminFooter}}
    </div>

    
    {{!-- jquerry --}}
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{!-- Js Bundle --}}
    {{!-- <script src="/dist/js/bundle.js"></script> --}}
    
    {{!-- Bootstrap --}}
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    {{!-- JS cdn --}}
    <script src="/js/vendor/datatables.min.js"></script>
    <script src="/js/vendor/Chart.bundle.min.js"></script>
    <script src="/js/vendor/glide.min.js"></script>
    <script src="/js/vendor/dropzone.min.js"></script>
    <script src="/js/vendor/bootstrap-tagsinput.min.js"></script>
    <script src="/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="/js/dore.script.js"></script>
    <script src="/js/scripts.single.theme.js"></script>

</body>

</html>
