<style>
    .img__PlaceholderLoader {
        height: auto;
        display: inline-block;
        vertical-align: top;
    }
/* image__dummy image styles */
.image__dummy {
  box-sizing: border-box;
  display: inline-block; 
  position: relative;
}
.image__dummy:before {
  content: '';
  position: absolute;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.image__dummy:after { 
  content: attr(width) " x " attr(height);
  white-space: pre;
  color:  #fff;
  text-align: center;
  display: block;
  position: absolute;
  width: 100%;
  top: calc(50% - .5em);
  font-size: 100%;
}
.image__dummy.image__dummy--alt:after {
  content: attr(image__dummy--alt);
}
    .image {
        position: relative;
        background: url('/img/loading-placeholder.svg') center center no-repeat;
        background-size: 300px 100px;
        text-align: center;
    }
    
    .image__Frame {
        color: #fff;
        border-color: #000;
        border-image: initial;
        border-style: none;
        border-width: medium;
        height: auto;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        width: auto;
        z-index: 999;
        position: relative;
    }

    
        @media only screen and (max-width: 550px) {
            .image__Frame {
                width: 400px;
                min-height: 400px;
            }
        }

        
        @media only screen and (min-width: 550px) {
            .image__Frame {
                width: 700px;
                min-height: 700px;
            }
        }

        
        @media only screen and (min-width: 850px) {
            .image__Frame {
                width: 1000px;
                min-height: 1000px;
            }
        }
    
    
</style>

<div class="image">
    <picture>  
    <source 
    id="image--large"
    srcset="https://cloudimagewallcdn.b-cdn.net/test-publish-false/chapter-7/1620738659757-0_5.jpg?width=1000,
    /img/balloon.jpg" 
    media="(min-width: 1000px)" type="image/jpg"/>
    <source
    id="image--medium" 
    srcset="xhttps://www.gstatic.com/webp/gallery/1.webp" 
    media="(min-width: 550px)" type="image/webp"/>
    <source 
    id="image--small"
    srcset="/img/balloon.jpg" data-bg="https://www.gstatic.com/webp/gallery/5.webp"
    media="(max-width: 550px)" type="image/webp"/>

    <img src="https://cloudimagewallcdn.b-cdn.net/test-publish-false/chapter-7/1620738659757-0_5.jpg?width=1000"
        class="image__Frame"
        alt="image"
        onerror="this.onerror=null;this.src='/img/404.jpg';" 
        />
    </picture>   
</div>
<form id="myForm" method="POST" onsubmit="return postComment(this);" enctype="application/x-www-form-urlencoded">
    <input class="form-control" name="userId" value="6084dd9dec23a633c03f96e7" type=""></input>
    <input class="form-control" name="chapter" value="{{chapter.chapter}}" type="hidden"></input>
    <input id="comicSlugInput" class="form-control" name="comicSlug" value="{{chapter.comicSlug}}" type="hidden"></input>
    
    <div class="mb-3">
        <label>Textarea</label>
        <textarea class="form-control" name="inputText" placeholder="Required example textarea"
            ></textarea>
    </div>
    <button type="submit" class="btn btn-block btn-primary default mb-1 mx-auto d-block ">
        Áp dụng</button>
</form>
{{!-- {{#each chapter.image}}
<div class="image">
    <img width="16" height="9" 
    class="image__dummy image__dummy--alt image__Frame image--loader img__PlaceholderLoader" 
    data-bg="{{this.url}}"
    onerror="this.onerror=null;this.src='/img/404.jpg';" 
    alt="{{this.name}}"
    >
</div>
{{/each}} --}}

<script src="/js/imagesLoader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var slug = $('#comicSlugInput').val()
        window.postComment = function(form) {
            var formData = {
                userId: form.userId.value, 
                inputText: form.inputText.value, 
                comicSlug: form.comicSlug.value,
                chapter: form.chapter.value,
            }
            $.ajax({
                type: "POST",
                url: `/comic/comment`,
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    alert(response)
                }
            })
            return false;
        };
    });
</script>