<style>
    .img__PlaceholderLoader {
        height: auto;
        display: inline-block;
        vertical-align: top;
    }
/* image__dummy image styles */
.image__dummy {
  box-sizing: border-box;
  display: inline-block; 
  position: relative;
}
.image__dummy:before {
  content: '';
  position: absolute;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.image__dummy:after { 
  content: attr(width) " x " attr(height);
  white-space: pre;
  color:  #fff;
  text-align: center;
  display: block;
  position: absolute;
  width: 100%;
  top: calc(50% - .5em);
  font-size: 100%;
}
.image__dummy.image__dummy--alt:after {
  content: attr(image__dummy--alt);
}
    .image {
        position: relative;
        background: url('/img/loading-placeholder.svg') center center no-repeat;
        background-size: 300px 100px;
        text-align: center;
    }

    .image__Frame {
        color: #fff;
        border-color: #000;
        border-image: initial;
        border-style: none;
        border-width: medium;
        height: auto;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        width: auto;
        z-index: 999;
        position: relative;
    }

    /* Extra small devices (phones, 550 and down) */
    @media only screen and (max-width: 550px) {
        .image__Frame {
            width: 400px;
            min-height: 400px;
        }
    }

    /* Medium devices (landscape tablets, 550 and up) */
    @media only screen and (min-width: 550px) {
        .image__Frame {
            width: 700px;
            min-height: 700px;
        }
    }

    /* Extra large devices (large laptops and desktops, 850px and up) */
    @media only screen and (min-width: 850px) {
        .image__Frame {
            width: 1000px;
            min-height: 1000px;
        }
    }
</style>

{{#each chapter.image}}
<div class="image">
    <img width="16" height="9" 
    class="image__dummy image__dummy--alt image__Frame image--loader img__PlaceholderLoader" 
    data-bg="{{this.url}}"
    onerror="this.onerror=null;this.src='/img/404.jpg';" 
    alt="{{this.name}}"
    >
</div>
{{/each}}

<script src="/js/imagesLoader.js"></script>