<style>

 .pagewrapper {
    position: relative;
    /*background: url('http://localhost:8080/img/test.svg') center center no-repeat;*/
    text-align: center;
 } 
 .imageFrame {
    min-height: 35px;
    color: #fff;
    border-color: #000;
    border-image: initial;
    border-style: none;
    border-width: medium;
    height: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    
    width: auto;
    z-index: 999;
    position: relative;
 }


</style>

{{#each chapter}}
    {{#each image}}
    <div class="pagewrapper">
        <img class="imageFrame imagesLoader" src="http://localhost:3000/img/test.svg" data-bg="{{this.url}}" alt="img">
    </div>
    {{/each}}
{{/each}}

<script src="/js/imagesLoader.js"></script>